*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.flex-container {
    display: flex;
    flex-direction: row;
}
.telefone{
    padding-top:5px;
    padding-right: 50px;
}
.whatsapp{
    padding-top:5px;
    padding-right: 50px;
}
.facebook{
    padding-top:5px;
    padding-right: 50px;
}
.nome{
    font-weight: bold;
}
.rodape{
    padding-left:35px;
    padding-top:30px;
}
header{
    background-color: orangered;
    min-height:50px;
    text-align: center;
}
header > h1{
    color:white;
    font-size:50px;
}
footer{
    background-color:orangered;
    width: 100%;
    height: 100px;
    min-height:130px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-family: Andale Mono, monospace;
}
a{
    text-decoration: none;
    color:white;
}
main, body{
    background-color: black;
    width: 100%;
    height: 100%;
}
img{
    width:122px;
    height:162px;
}
.filme{
    padding-top: 20px;
    padding-left:15px;
}