body{
    background: #292c35;
}
#center{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}
table{
    border-style:medium;
    border-color: rgb(114, 114, 223);
    border: width 1.5px;
    border-collapse: collapse;
}
td{
    font-family: Andale Mono, monospace;
    font-size: 35px;
}
td:hover{
    font-size: 52.5px;
}
tr:hover {
    background-color: white !important;
    color: orangered;
    font-weight: bold;
    cursor: pointer;
    }
tr:nth-child(even) {
    background-color: #8b9dc3;
}
tr:nth-child(odd) {
    background-color: #dfe3ee;
}
#tfoot{
    background-color: orangered !important;
    color:white;
}
th{
    background-color: rgb(114, 114, 223);
}
#azul{
    background-color: rgb(114, 114, 223);
}