#centro{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 70px;
}
body{
    background: #292c35;
}
label{
    display:block;
    color:white;
    font-size:20px;
    font-family: Andale Mono, monospace;
    font-weight: bold;
    margin-right: 10px;
}
.violetdefaultbutton{
    background-color: white;
    color: violet;
    padding: 5px 8px;
    border: 1px solid violet;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    transition: all .3s ease;
    margin-top: 5px;
    font-family: Andale Mono, monospace;
    font-weight: bold;
    font-size: 20px;    
}
.violetdefaultbutton:hover{
    background-color: violet;
    color: white;
    border: 1px solid rgb(255, 255, 255);
}
.classe{
    margin:20px;
}