table{
    border-collapse: collapse;
    border-color:rgb(114, 114, 223);
}
*{
    font-family: Andale Mono, monospace;
    font-size: 35px;
}
th{
    vertical-align: top;
    color:White;
}
th:hover{
    color: orangered;
}
td{
    font-family: Andale Mono, monospace;
    font-size: 35px;
}
tr:nth-child(even) {
    background-color: #8b9dc3;
}
tr:nth-child(odd) {
    background-color: #dfe3ee;
}
#td:hover{
    font-size: 52.5px;
    color: black;
    background-color: rgb(0, 195, 255) !important;
    cursor: pointer;
}
#azul{
    background-color: rgb(114, 114, 223);
}
#row{
    color:black;
    background-color: white;
}
#row:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(0, 195, 255) !important;
}
#center{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}
#tfoot{
    background-color: orangered;
    color:rgb(0, 0, 0);
}
#tfoot:hover{
    font-size: 52.5px;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 195, 255) !important;
    cursor: pointer;
}
#td1:hover{
    font-size: 52.5px;
    color: black;
    background-color: rgb(251, 255, 0) !important;
    cursor: pointer;
}
#row1{
    color:black;
    background-color: white;
}
#row1:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(251, 255, 0) !important;
}
#tfoot1{
    background-color: orangered;
    color:rgb(0, 0, 0);
}
#tfoot1:hover{
    font-size: 52.5px;
    color: rgb(0, 0, 0);
    background-color: rgb(251, 255, 0) !important;
    cursor: pointer;
}
body{
    background: #292c35;
}